<div class="wrapper wrapper-content animated fadeInRight" >
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center m-t-lg" style="color:#ffffff;font-family: arial, Helvetica, sans-serif;">
       <h2>
          Olá,
          <%= @nome_completo %>!
          <br>
          Bem-vindo(a) ao SiN-TELEJUS!
          <div class="textosTroca">
          <br>
            <div class="item">ATENÇÃO! Para visualizar as notícias, acesse a seção AVISOS no menu ao lado. </div>                        
            </div>
          <div class="areaTexto"></div>
        </h2>
        <br>
          <span>
            <img src="<%= image_url 'atendente.gif' %>" alt="image"/>
          </span>
        </br>
      </div>
    </div>
  </div>
</div>
