<p id="notice"><%= notice %></p>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Nova comarca</h5>
        </div>
        <div class="ibox-content-scaffold">
            <%= render 'form', township: @township %>
        </div>
      </div>
    </div>
  </div>
</div>