<p id="notice"><%= notice %></p>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Novo componente dos Tribunais Superiores</h5>
        </div>
        <div class="ibox-content-scaffold">
            <%= render 'form', upper_component: @upper_component %>
        </div>
      </div>
    </div>
  </div>
</div>