<div class="footer">
    <div class="pull-right">
            <small>Fórum Clóvis Beviláqua &copy; <%= Date.today.year %></small>
    </div>
    <div>
        <strong>Sala de Inovação</strong> &copy; <%= Date.today.year %>
    </div>
</div>
