<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; background: linear-gradient(#ffffff, #31797c 25%)">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
          </div>
          <ul class="nav navbar-top-links" style="text-align: center;">
        <li>
          <%= link_to('SiN-TELEJUS', home_index_path, :style => "color: #ffff; font-size: 18px; margin: -5px; margin-left: 50px; margin-top: 2px; font-family: Poppins-Medium;" )%>
        </li>
        <li class="pull-right" >
          <% if user_signed_in? %>
              <%= link_to fa_icon("sign-out", text:"SAIR"), destroy_user_session_path, method: :delete, :class => "", :style => "color: #ffff; margin-top: 4px;" %></li>
          <% end %>
            </li>
        </ul>
    </nav>
</div>
